.Tiendas {
    background: darkred;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, darkred, darkred);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, darkred, darkred);
    height: 100%;
}

.carga{
    height: 100vh;
}